div {
    display: flex;
    padding: 0px 30px;
    width: 100%;
    height: 100%;  
}

app-list{
	background: rgba(235,233,234, 0.3);
    background-opacity: 0.18;
}

.mat-dialog-container{
	background: red;
}

