.my-button{
  background: linear-gradient(-150deg, #FF8405 0%, #FF433F 100%);
  box-shadow: 0 2px 7px 0 rgba(120,137,149,0.25);
  border-radius: 3px;
  font-size: 13px;
  color: #FFFFFF;
  width: 20vw;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
}
