<app-header-toolbar></app-header-toolbar>
<div style="width: 100vw; height: 90vh;   overflow: auto; background: rgba(235,233,234, 0.3);">
  <form #settingsForm="ngForm">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="90">
        <my-form-header label="Link online para logo"></my-form-header>

        <div fxLayout="row">

          <mat-form-field fxFlex>
            <input matInput  
            name="link" 
            placeholder="Inserir link" 
            [(ngModel)] ="config.linkLogo" >
          </mat-form-field>

      </div>

      <my-form-header label="Termos da Ordem de Serviço"></my-form-header>

        <div class="row">

            <mat-form-field fxFlex>
              <textarea matInput
               matTextareaAutosize
               matAutosizeMinRows="2"
                placeholder="Escrever termos da OS finalizada"
              name="ostermos"
              
              [(ngModel)] ="config.termosOS" 
              >
              </textarea>

            </mat-form-field> 

          </div>

      <my-form-header label="Termos da Ordem de Serviço finalizada"></my-form-header>

        <div class="row">

            <mat-form-field fxFlex>
              <textarea matInput
               matTextareaAutosize
               matAutosizeMinRows="2"
                placeholder="Escrever termos da OS finalizada"
              name="ostermos"
              
              [(ngModel)] ="config.termosOS" 
              >
              </textarea>

            </mat-form-field> 
            
          </div>





      </div>
    </div>

  </form >
        
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="90">

      <div fxLayout="row" fxLayoutAlign="end center">

        <my-button-orange
          (click)="updateSettings(settingsForm)" 
          fxFlexAlign="center" 
          label="ATUALIZAR CONFIGURAÇÕES" 
          style="margin-top: 12px;">
        </my-button-orange>

      </div> 
    </div>
  </div>
