.my-button
  background: linear-gradient(-228deg, #F5F5F5 0%, #D7D7D7 93%);
  box-shadow: 0 2px 7px 0 rgba(120,137,149,0.25);
  border-radius: 3px;
  font-family: AvenirNext-DemiBold;
  font-size: 14px;
  color: #6B6B6B;