 <div fxLayout="row" fxLayoutAlign="center center" style="height: 100vh;">
        
        <div class="login-img" fxFlex="39">
        	<img routerLink="/acompanhamento" class="my-log-img" src="assets/images/login_1.png">
        </div>

        

	 <div fxLayout="column" fxLayoutAlign="center center" fxFlex="61">       

      <div style="width: 17%;">
  			<img routerLink="/login" class="my-logo" src="assets/images/logo-login.png">
  		</div>

		<h4 class="my-recover"> Recuperação senha </h4>

        <mat-form-field fxFlexOffset="0" class="my-inputs">
              <input matInput name="email" placeholder="Insira seu email" >
        </mat-form-field>

        <my-button-orange fxFlexOffset="2" label="RECUPERAR" class="enter-button" ></my-button-orange>
    
        <span routerLink="/login" fxFlexOffset="7" class="forgot-password">Eu sei minha senha!</span>
    </div> 

  </div>
