.login-img{
	margin: 0px;
	background: black;
}

.my-log-img{
	width: 100%;
    height: 100%;
}

.my-logo{
	width: 100%;
    height: 100%;
}

.my-inputs{
	width: 50%;
}

.enter-button{
	width: 50%;
}

.forgot-password{
	font-size: 13px;
	color: #B5B5B5;
	cursor: pointer;
}

.my-recover{
	font-size: 19px;
	font-weight: 300;
	margin-top: 8.6%;
	margin-bottom: 2%;
}