.login-img{
	margin: 0px;
	background: black;
}

.my-log-img{
	width: 100%;
    height: 100%;
}

.my-logo{
	width: 100%;
    height: 100%;
}

.my-inputs{
	width: 50%;
}

.enter-button{
	width: 50%;
}

.forgot-password{
	font-size: 13px;
	color: #B5B5B5;
	cursor: pointer;
}

.my-button{
  background: linear-gradient(-150deg, #FF8405 0%, #FF433F 100%);
  box-shadow: 0 2px 7px 0 rgba(120,137,149,0.25);
  border-radius: 3px;
  font-size: 13px;
  color: #FFFFFF;
  width: 50%;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
}