<div *ngIf="loadSpinner" class="loading-indicator">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>


<form #loginForm="ngForm" >

 <div fxLayout="row" fxLayoutAlign="center center" style="height: 100vh;">

  <div class="login-img" fxFlex="39">
   <img routerLink="/acompanhamento" class="my-log-img" src="../assets/images/login_1.png">
 </div>

 <div fxLayout="column" fxLayoutAlign="center center" fxFlex="61">        

  <div style="width: 17%;">
   <img routerLink="/acompanhamento" class="my-logo" src="../assets/images/logo-login.png">
 </div>

 <mat-form-field fxFlexOffset="5" class="my-inputs" [hideRequiredMarker]="true">
  <input [(ngModel)] = "user" matInput name="user" placeholder="Insira seu email" required>
</mat-form-field>

<mat-form-field class="my-inputs" [hideRequiredMarker]="true">
  <input  [(ngModel)] = "pass" type="password" matInput name="pass" placeholder="Senha" required>
</mat-form-field>

<button mat-button class='my-button' fxFlexOffset="2" (click)="login(loginForm)" >ENTRAR</button>
<button mat-button class='my-button' fxFlexOffset="2" (click)="signup(loginForm)"> CADASTRAR</button>

<!-- <button mat-button class='my-button' fxFlexOffset="2" (click)="getHeader()"> GET REQ</button>
 -->
<span routerLink="/esqueci-senha" fxFlexOffset="7" class="forgot-password">Esqueceu sua senha?</span>

</div> 

</div>

</form>
