.login-img{
  margin: 0px;
  background: black;
}

.my-log-img{
  width: 100%;
    height: 100%;
}

.my-logo{
  width: 100%;
    height: 100%;
}

.my-inputs{
  width: 50%;
}

.enter-button{
  width: 50%;
}

.forgot-password{
  font-size: 13px;
  color: #B5B5B5;
  cursor: pointer;
}

.my-button{
  background: linear-gradient(-150deg, #FF8405 0%, #FF433F 100%);
  box-shadow: 0 2px 7px 0 rgba(120,137,149,0.25);
  border-radius: 3px;
  font-size: 13px;
  color: #FFFFFF;
  width: 50%;
  padding-top: 0.2vw;
  padding-bottom: 0.2vw;
}

::ng-deep .error-class .mat-simple-snackbar{
  color: rgb(255, 0 , 0);
  font-weight: 600;
    //background: white;
}

::ng-deep .error-class .mat-simple-snackbar button{
  color: rgba(190,190,190, 0.8);
  //background: white;
}

/* Absolute Center Spinner */
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;


}

.mat-progress-spinner circle, .mat-spinner circle{
  stroke: black;
}

/* Transparent Overlay */
.loading-indicator:before {


  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}