<mat-toolbar class="row my-toolbar" >

	<img routerLink="/acompanhamento" class="my-logo" fxFlexOffset="5" src="assets/images/logo-name75.png">

	<span (click)="toggle_class(0)" [ngClass]="{'my-menus': true, 'my-menus-activated': menus[0] }" routerLink="/cadastro-cliente"  fxFlexOffset="14" fxFlex = "10" > Orçamento </span>

	<span (click)="toggle_class(1)" [ngClass]="{'my-menus': true, 'my-menus-activated': menus[1] }"  routerLink="/acompanhamento" fxFlex = "12" class="my-menus"> Acompanhamento </span>

	<span (click)="toggle_class(2)" [ngClass]="{'my-menus': true, 'my-menus-activated': menus[2] }" routerLink="/historico" fxFlex = "10" class="my-menus"> Histórico </span>

		<span (click)="getHeader()" [ngClass]="{'my-menus': true, 'my-menus-activated': menus[2] }" routerLink="/historico" fxFlex = "10" class="my-menus"> HEAD </span>

	<!-- <img class="my-user" fxFlexOffset="19" src="assets/images/user-symbol.png" style="cursor: pointer;"> -->

	<button mat-icon-button fxFlexOffset="19" [matMenuTriggerFor]="menu">
	 <img class="my-user"  src="assets/images/user-symbol.png" style="cursor: pointer;">
	</button>
<mat-menu #menu="matMenu">
  <button (click)="logout()" mat-menu-item>
    <span >Sair</span>
  </button>
</mat-menu>

</mat-toolbar>