.my-toolbar{
	background: white;
	border: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: #E2E2E2;
	height: 10vh;
}

.my-logo{
	cursor: pointer;
		outline: none;
}
.my-user{
	cursor: pointer;
}

.my-menus{
	border: 0px;
	border-top: 5px;
	border-color: white;
	border-style: solid;
	font-size: 14px;
	text-align: center;
	line-height: 48px;
	cursor: pointer;

}

.my-menus:hover{
	color: #FF8405;
}

span{
	outline: none;
}

.my-menus-activated{
	border-color:  #FF8405;
	color: #FF8405;
}