/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  height: 12vh;
  padding: 0px 1.757vw 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  border: 0px;
  border-top: 2vh;
  border-color: rgba(235,233,234, 0.3);
  border-style: solid;
 
  overflow: auto;
  height: 64.5vh;
  background: rgba(235,233,234, 0.3);
}

.mat-paginator{
  height: 9vh;
  background: rgba(235,233,234, 0.7);
}

.cells{
}

.cells:hover{
  cursor: pointer;
}

mat-row:hover{
  background: rgba(180,180,180, 0.25);
}

.searchBoxes{
  padding-top: 1.0vh;
  padding-bottom: 1.5vh;
}

.mat-input-placeholder{

}